In [1]:
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split
import tensorflow as tf

/home/avikpal/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
abalone = pd.read_csv("abalone.csv",header=None)

In [3]:
abalone.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [4]:
sex = abalone[0]
sex

0       M
1       M
2       F
3       M
4       I
5       I
6       F
7       F
8       M
9       F
10      F
11      M
12      M
13      F
14      F
15      M
16      I
17      F
18      M
19      M
20      M
21      I
22      F
23      F
24      F
25      F
26      F
27      M
28      M
29      M
       ..
4147    M
4148    M
4149    I
4150    I
4151    I
4152    I
4153    I
4154    I
4155    I
4156    M
4157    M
4158    I
4159    F
4160    F
4161    F
4162    M
4163    I
4164    I
4165    I
4166    I
4167    M
4168    F
4169    M
4170    M
4171    M
4172    F
4173    M
4174    M
4175    F
4176    M
Name: 0, Length: 4177, dtype: object

In [5]:
sex[sex=='M'] = 1
sex[sex=='F'] = 2
sex[sex=='I'] = 3

/home/avikpal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/avikpal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/avikpal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
abalone[0] = sex

In [7]:
np.shape(abalone)

(4177, 9)

In [8]:
###Deleting classes with only one instance as it becomes meaningless to predict such values
list1 = (abalone.index[abalone[8] == 1]).tolist()
list1.append((abalone.index[abalone[8] == 2]).tolist()[0])
list1.append((abalone.index[abalone[8] == 25]).tolist()[0])
list1.append((abalone.index[abalone[8] == 26]).tolist()[0])
list1.append((abalone.index[abalone[8] == 29]).tolist()[0])
list1

[236, 719, 2201, 294, 480]

In [9]:
abalone[8] = abalone[8] -3

In [10]:
abalone[8][abalone[8]==24]=22

/home/avikpal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
set(abalone[8])

{-2,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 26}

In [12]:
abalone = abalone.drop(list1)

In [13]:
np.shape(abalone)

(4172, 9)

In [14]:
Y = abalone[8]
Y.head()

0    12
1     4
2     6
3     7
4     4
Name: 8, dtype: int64

In [15]:
X = abalone[[0,1,2,3,4,5,6,7]]

In [16]:
X.head()

   0      1      2      3       4       5       6      7
0  1  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150
1  1  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070
2  2  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210
3  1  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155
4  3  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055

In [17]:
X = np.asmatrix(X)

In [18]:
Y = np.asarray(Y)

In [19]:
np.shape(X)

(4172, 8)

In [20]:
np.shape(Y)

(4172,)

In [21]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size=0.95,stratify=Y)

In [22]:
len(set(Y))

23

In [23]:
X = tf.placeholder(dtype=tf.float32,shape=(None,8),name="X")
Y = tf.placeholder(dtype=tf.int32,shape=(None),name="Y")
training = tf.placeholder_with_default(False, shape=(), name='training')

In [24]:
n_hidden1 = 300
n_hidden2 = 100
n_hidden3 = 10
n_output = 23
dropout_rate = 0.5

In [25]:
from functools import partial
my_batch_norm = partial(tf.layers.batch_normalization,training=training,momentum=0.9)

In [26]:
hidden1 = tf.layers.dense(X,n_hidden1,name="hidden1")
hid1_bn = my_batch_norm(hidden1)
h1_act = tf.nn.dropout(tf.nn.elu(hid1_bn),keep_prob = 1-dropout_rate)

In [27]:
hidden2 = tf.layers.dense(h1_act,n_hidden2,name="hidden2")
hid2_bn = my_batch_norm(hidden2)
h2_act = tf.nn.dropout(tf.nn.elu(hid2_bn),keep_prob = 1-dropout_rate)

In [28]:
hidden3 = tf.layers.dense(h2_act,n_hidden3,name="hidden3")
hid3_bn = my_batch_norm(hidden3)
h3_act = tf.nn.dropout(tf.nn.elu(hid3_bn),keep_prob = 1-dropout_rate)

In [29]:
output = tf.layers.dense(h3_act,n_output,name="output")

In [30]:
xentropy = tf.nn.sparse_softmax_cross_entropy_with_logits(labels=Y,logits=output)
loss = tf.reduce_mean(xentropy,name="loss")

In [31]:
training_op = tf.train.AdamOptimizer(learning_rate=0.01).minimize(loss)

In [32]:
correct = tf.nn.in_top_k(output, Y, 1)
accuracy = tf.reduce_mean(tf.cast(correct, tf.float32))

In [34]:
n_epochs = 4000

init = tf.global_variables_initializer()
extra_update_ops = tf.get_collection(tf.GraphKeys.UPDATE_OPS)

with tf.Session() as sess:
    init.run()
    for epoch in range(n_epochs):
        sess.run([training_op,extra_update_ops], feed_dict={X:X_train,Y:Y_train,training:True})
        if(epoch%100==0 or epoch == n_epochs-1):
            acc_train = accuracy.eval(feed_dict={X: X_train, Y: Y_train,training:True})
            acc_test = accuracy.eval(feed_dict={X: X_test,Y: Y_test})
            print(epoch, "Train accuracy:", acc_train, "Test accuracy:", acc_test)

0 Train accuracy: 0.0809992 Test accuracy: 0.0861244
100 Train accuracy: 0.25082 Test accuracy: 0.229665
200 Train accuracy: 0.261923 Test accuracy: 0.215311
300 Train accuracy: 0.260409 Test accuracy: 0.23445
400 Train accuracy: 0.258642 Test accuracy: 0.23445
500 Train accuracy: 0.27025 Test accuracy: 0.239234
600 Train accuracy: 0.268483 Test accuracy: 0.248804
700 Train accuracy: 0.258895 Test accuracy: 0.253589
800 Train accuracy: 0.281857 Test accuracy: 0.267943
900 Train accuracy: 0.265203 Test accuracy: 0.267943
1000 Train accuracy: 0.264194 Test accuracy: 0.263158
1100 Train accuracy: 0.277063 Test accuracy: 0.282297
1200 Train accuracy: 0.268231 Test accuracy: 0.315789
1300 Train accuracy: 0.266969 Test accuracy: 0.282297
1400 Train accuracy: 0.27353 Test accuracy: 0.258373
1500 Train accuracy: 0.266212 Test accuracy: 0.263158
1600 Train accuracy: 0.274792 Test accuracy: 0.267943
1700 Train accuracy: 0.265455 Test accuracy: 0.296651
1800 Train accuracy: 0.280343 Test accuracy: 0.258373
1900 Train accuracy: 0.274035 Test accuracy: 0.291866
2000 Train accuracy: 0.269493 Test accuracy: 0.287081
2100 Train accuracy: 0.275801 Test accuracy: 0.23445
2200 Train accuracy: 0.275296 Test accuracy: 0.248804
2300 Train accuracy: 0.27681 Test accuracy: 0.220096
2400 Train accuracy: 0.268988 Test accuracy: 0.239234
2500 Train accuracy: 0.262175 Test accuracy: 0.244019
2600 Train accuracy: 0.274287 Test accuracy: 0.267943
2700 Train accuracy: 0.276306 Test accuracy: 0.229665
2800 Train accuracy: 0.271511 Test accuracy: 0.267943
2900 Train accuracy: 0.270754 Test accuracy: 0.277512
3000 Train accuracy: 0.272521 Test accuracy: 0.287081
3100 Train accuracy: 0.281353 Test accuracy: 0.267943
3200 Train accuracy: 0.283371 Test accuracy: 0.325359
3300 Train accuracy: 0.279334 Test accuracy: 0.239234
3400 Train accuracy: 0.281353 Test accuracy: 0.296651
3500 Train accuracy: 0.272773 Test accuracy: 0.258373
3600 Train accuracy: 0.296745 Test accuracy: 0.239234
3700 Train accuracy: 0.281353 Test accuracy: 0.311005
3800 Train accuracy: 0.291194 Test accuracy: 0.253589
3900 Train accuracy: 0.282867 Test accuracy: 0.291866
3999 Train accuracy: 0.283876 Test accuracy: 0.263158